body{
    background-image:url('C:\Users\003D0H744\Desktop\React_Project\onlineportal\public\images\WebsiteBody.png');
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    overflow-x:hidden; 
  }
  